* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.pizzas {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 1em;

  input {
    font-size:3em;
    border-width: 0;
    background: none;
    width: 2em;
    text-align: center;
    color: white;}

  h2 {
    font-size: 1em;}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ingredients {
  width: 200px * 2;
  height: 200px;
  margin: auto;
}

.ingredient {
  margin-top: 1em;
  float: left;
  width: 200px;
  text-align: center;

  p {
    font-size: 2em;
    margin: auto;}

  h2 {
    font-size: 0.8em;
    margin-top: 0; }
}

.settings {
  text-align: center;
}

.settings-button {
  text-align: center;
}

.login-button {
  float: right;
  margin: 20px;
}

.settings-item{

  display: inline-block;
  padding-left: 1em;

  h2 {
    font-size: 1em;
  }
  p {
    display: inline-block;
  }
}

@media screen and (min-width: 900px) {
    .ingredients{
        width: 800px;
        height: 100px;
    }
}
